<h1><%= @restaurant.name %></h1>

<h2>Address: <%= @restaurant.address %></h2>
<h3>Phone Number: <%= @restaurant.phone_number %></h3>
<h3>Category: <%= @restaurant.category %></h3>

<%= link_to "back", restaurants_path%>
